body {
    font-family: Arial;
    font-size: 14px;
}
th {
    background-color: #50B306;
    color: #ffffff;
    text-align: left;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid #B3B2AB;
}
th:nth-child(4n) {
    border-right: 0px;
}
td {
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid #B3B2AB;
    
}
td:nth-child(1n) {
    width: 150px;
}
td:nth-child(2n) {
    width: 120px;
}
td:nth-child(3n) {
    width: 150px;
}
td:nth-child(4n) {
    width: 100px;
    border-right: 0px;
}
tr:nth-child(2n) {
    background-color: #ECECD8;
}
tr:nth-child(2n-1) {
    background-color: #ffffff;
}
img {
    padding-right: 10px;
}
input[type=checkbox] {
    background-color: #D4D0C8;
}
table {
    border-collapse: collapse;
}
