body,ul,li{
	margin:0;
	padding:0;
}
body {
	ul{
		list-style-type: none;
		
		li {
			display: inline-block;
			margin: 5px;
			float: left;
			
			img {
				width: 125px;
				height: 75px;
				
				
			}
			&:hover {
					& > div img {
                        display: block;
						position: absolute;
						top: 140px;
						left: 5px;
						width: 500px;
						height: 300px;
					}
									
				}
			div img{
				display: none;
			}
		}
	}
	
}