body {
    font-size: 18px;
    font-family: Calibri;
}

a {
    color: #3399ff;
}

fieldset {
    border-color: Black;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.left {
    float: left;
    text-align: center;
}

.right {
    float: right;
    text-align: center;
}

.table {
    display: table;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
}

section {
    border: 1px solid #000000;
    padding: 5px;
    width: 505px;
    float: left;
}

#sliders {
    float: left;
    font-size: 22px;
    margin-top: 100px;
    margin-left: 20px;
    text-align: center;
}
